<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.niag_photographer">

    <application android:theme="@style/AppTheme">
        <activity android:name=".AfterpictureActivity"></activity>
        <activity android:name=".PictureActivity" />
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>